/* Reset HTML */

* {
    padding: 0;
    margin: 0;
}

/* link font */
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: RalewayBold;
    src: url(assets/fonts/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: RalewayExtraBold;
    src: url(assets/fonts/static/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Sail;
    src: url(assets/fonts/Sail/Sail-Regular.ttf);
}

@font-face {
    font-family: Domine;
    src: url(assets/font/Domine/static/Domine-SemiBold.ttf);
}
html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #faf9f7;
}

#main {
    top: 0;
    left: 0;
    right: 0;
}

#header {
    height: 100px;
    background-color: #fff;
}

#header .logo {
    color: rgb(196, 72, 96);
    text-decoration: none;
    position: absolute;
}

#header .logo-oganic {
    font-size: 14px;
    font-family: "Raleway";
    left: 302px;
    top: 30px;
}

#header .logo-arangi {
    font-size: 40px;
    font-family: "Sail";
    left: 245px;
    top: 35px;
}

#header .nav {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: bold;
    position: absolute;
    left: 585px;
    top: 55px;
}

#header .nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 0 15px;
}

.nav .nav-angle-down {
    font-size: 10px;
}

#header .category {
    left: 700px;
    top: 36px;
    position: absolute;
}

.category .cate-new {
    font-size: 10px;
    font-family: "Raleway";
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #c44860;
    border-radius: 10px;
}

#header .option {
    left: 1166px;
    top: 50px;
    position: absolute;
    display: flex;
}

.option li {
    list-style-type: none;
}

.option li a {
    text-decoration: none;
    font-size: 25px;
    color: #9d9d9d;
    padding: 15px;
}

.option .border-menu {
    width: 56px;
    height: 56px;
    box-shadow: 0px 2px 38px 0px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
}

.option .icon-menu {
    text-align: center;
}

#breadscumb{
  
}

.bg-img{
    background: url("/Bai tap/assets/img/images/bg.jpg") top center / cover no-repeat;
    height: 275px;
}

.bg-img .text-img{
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.bg-img .style-guild1{
    position: absolute;
    font-size: 45px;
    left: 245px;
    top: 175px;
}

.bg-img .home{
    position: absolute;
    left: 245px;
    top: 245px;
    color: #c44860;
}

.bg-img .style-guild2{
    position: absolute;
    left: 305px;
    top: 245px;
}

#content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content .content-cols {
    width: 50%;
    float: left;
    margin-top: 110px;
}

#content .font-content {
    font-size: 35px;
    font-family: "Raleway";
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-bottom: 110px;
}

.col-md-1 {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    padding-top: 2px;
}

#content .color-lists {
    display: flex;
}

#content .color-1 {
    background-color: #c44860;
    margin-top: 20px;
}

#content .color-2 {
    background-color: #4d772d;
    margin-top: 20px;
}

#content .color-3 {
    background-color: #5892d0;
    margin-top: 20px;
}

#content .color-4 {
    background-color: #333333;
    margin-top: 20px;
}

#content .color-5 {
    background-color: #797476;
    margin-top: 20px;
}

.button-style .font-rectage{
    font-size: 18px;
    font-family: "Raleway";
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
}

.button-style .font-rectage1{
    color: black;
}

.button-style .button-lists{
    display: flex;
}

.button-style .rounded-rectage{
    width: 180px;
    height: 40px;
    border: #c44860;
    border-width: 3px;
    border-style: solid;
    border-radius: 70px;
    border-color: #e38973;
    margin-right: 50px;
    
}

.button-style .arrow{
    position: absolute;
    padding-left: 50px;
    color: #333333;
}

.button-style .active{
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 1.2;
    margin-top: 15px;
    margin-left: 70px;
}

.button-item .rounded-rectage1{
    background-color: #cf5f66;
}

.button-item .rounded-rectage2{
    background-color: #c44860;
}

.button-item .rounded-rectage3{
    background-color: #f4ae7b;
    border-color:#f4ae7b ;
}

#content .text-color {
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    margin-top: 20px;
    margin-left: 10px;
    
}

.typography p{
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 1.733;
}

.content-cols li{
    display: inline-flex;
}

.content-cols .text-link{
    font-size: 18px;
    font-family: "Raleway";
    font-weight: bold;
    line-height: 3.611;
}

.content-cols .text-link1{
    font-size: 13px;
    font-family: "RalewayExtraBold";
    text-transform: uppercase;
    line-height: 1.538;
}

.font-content .button_list{
    display: flex;
    align-items: center;
}

.font-content .rounded_rectage{
    width: 140px;
    height: 40px;
    border: #c44860;
    border-width: 3px;
    border-style: solid;
    border-radius: 70px;
    border-color: #c44860;
    margin-right: 30px;
    background-color:#c44860 ;
}

.font-content .font_rectage{
    color: #fff;
    font-size: 15px;
    font-family: "Raleway";
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;

}

.font-content .rounded_rectage2{
    width: 130px;
    height: 40px;

}

.font-content .rounded_rectage3{
    width: 100px;
    height: 32px;
}

.content-cols .text_link{
    color: #c44860;
}

.font-content .text-hieght{
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 1.2;
    margin-top: 20px;
    margin-left: 15px;
}

.font-content .semi{
    font-family: "RalewayBole";
    font-weight: bold;
    line-height: 4;
    
}

.semi p{
    color: #333333;
}

.semi .h1{
    font-size: 28px;
}

.semi .h2{
    font-size: 23px;
}

.semi .h3{
    font-size: 18px;
}

.semi .h4{
    font-size: 14px;
}

.semi .h5{
    font-size: 13px;
}

.font-content .form-text{
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 2;
}

.font-content #border-text{
    border-width: 3px;
}

input[type=text] {
    width: 100%;
    border-style: dashed;
    border-radius: 30px;
    height: 30px;
  }

.font-content .listmenu{
    display: flex;
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 1.2;
}

.listmenu1 li{
    display: list-item;
    list-style-type: none;
    margin-top: 10px;
}

.listmenu2 li{
    display: list-item;
    margin-top: 10px;
    margin-left: 100px;
}

.listmenu3 li{
    display: list-item;
    margin-left: 100px;
    margin-top: 10px;
}

.font-content .border-alerts{
    width: 100%;
    height: 20px;
    border: 1px;
    font-size: 14px;
    font-family: "Domine";
    color: rgb(255, 254, 254);
    padding-top: 25px;
    margin-top: 10px;
}

.font-content .success-message{
    background-color: rgb(245, 46, 85);
}

.font-content .notification-text{
    background-color: rgb(244, 183, 87);
}

.font-content .warning-display{
    background-color: rgb(180, 217, 50);
}

.font-content .ellipse{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 435px;
    bottom: 30px;
}

.ellipse i{
    position: relative;
    top: 6px;
    left: 6px;
}

.content-cols .bg{
    width: 100%;
    height: 276px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 38px 0px rgba(133, 133, 133, 0.25);
    position: relative;
    bottom: 100px;
}

.bg .option-{
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    line-height: 1.2;
}

.option- ul{
    position: relative;
    bottom: 30px;
    left: 50px;
}

.option- li{
    display: list-item;
    list-style-type: none;
    margin-top: 35px;
}

.bg .shape{
    border-width: 1px;
    border-color: rgb(223, 223, 223);
    border-style: dashed;
    width: 400px;
    position: relative;
    left: 50px;
    top:12px;

}

.bg .shape1{
    position: relative;
    top: 55px;
}

.bg .shape2{
    position: relative;
    top: 105px;
}

.bg .shape3{
    position: relative;
    top: 155px;
}

.bg .shape4{
    position: relative;
    top: 205px;
}

.select{
    display: flex;
}

.select .select-left{
    position: relative;
    left: 40px;
    top: -80px;
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
}

.select .select-right{
    position: relative;
    left: 140px;
    top: -80px;
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
}

.pagination{
    display: flex;
}

.pagination .pagination-left{
    display: flex;
    margin-top: 75px;
    position: relative;
    right: 175px;
}

.pagination-left .ellip{
    width: 11px;
    height: 11px;
    border-width: 1.5px;
    border-color: rgb(196, 72, 96);
    border-style: solid;
    border-radius: 50%;
    margin-right: 18px;
}

.ellip .ellip1{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(196, 72, 96);
    position: relative;
    top: 3px;
    left: 3px;
}

.prev .border-prev{
    width: 65px;
    height: 29px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-radius: 30px;
    position: relative;
    top: 68px;
    right: 148px;
}

.prev .text-prev{
    font-size: 12px;
    font-family: "Raleway";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    position: relative;
    top: 46px;
    right: 135px;
}

.text-prev a{
    text-decoration: none;
}

.pagination-right {
    display: flex;
}

.pagination-right .text-prev{
    font-size: 12px;
    font-family: "Raleway";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
}

.pagination-right .text1{
    position: relative;
    top: 77px;
    right: 135px;
}

.pagination-right .text2{
    position: relative;
    top: 77px;
    right: 90px;
}

.pagination-right ul{
    list-style-type: none;
    display: flex;
    
}

.pagination-right li{
    width: 34px;
    height: 34px;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 60px;
    right: 40px;
    margin-right: 15px;
}

.number{
    font-size: 14px;
    font-family: "Domine";
    color: rgb(196, 72, 96);
    text-transform: uppercase;
    line-height: 4.286;
}

.number .number1{
    position: relative;
    top: -11px;
    left: 13px;
}

.number .number2{
    position: relative;
    top: -11px;
    left: 13px;
}

.number .number3{
    position: relative;
    top: -11px;
    left: 13px;
}